/* css uses comments like this

it supports multi-line by default */

body {
  background-color: powderblue;
}
h1 {
  color: blue;
}
p {
  color: red;
  /* add a green border around paragraph elements */
  border: 2px solid green;
  /* add a padding between the border and the element text (internal padding) */
  padding: 30px;
  /* adds a margin (space) outside the border (external padding). */
  margin: 50px;
}

/* You can change the link state colors, by using CSS:
Here, an unvisited link will be green with no underline.
A visited link will be pink with no underline.
An active link will be yellow and underlined.

In addition, when mousing over a link (a:hover) it will become red and underlined:
*/
a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: pink;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}

/* A link can also be styled as a button, by using CSS: */
a:link,
a:visited {
  background-color: #f44336;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover,
a:active {
  background-color: red;
}
